*.depend
*.layout
OpenAVRc/stamp-OpenAVRc.h
OpenAVRc/OpenAVRc.map
*.hex
*.elf
*.bin
*.o
*.res
OpenAVRc_Simulator\obj\
OpenAVRc_Desktop\obj\
OpenAVRc_Simulator\bin\Debug\*.exe
OpenAVRc_Simulator\bin\Release\*.exe
OpenAVRc_Desktop\bin\Debug\*.exe
OpenAVRc_Desktop\bin\Release\*.exe

