*.depend
*.layout
*.hex
*.elf
*.bin
*.o
*.res
*.bak
*.kicad_pcb-bak
*.sch-bak
*.bck
Thumbs.db
OpenAVRc_Simulator\obj\
OpenAVRc_Desktop\obj\
OpenAVRc_Simulator\bin\Debug\*.exe
OpenAVRc_Simulator\bin\Release\*.exe
OpenAVRc_Desktop\bin\Debug\*.exe
OpenAVRc_Desktop\bin\Release\*.exe
OpenAVRc/stamp-OpenAVRc.h
OpenAVRc/OpenAVRc.map
OpenAVRc/allsrc.cpp
*.cscope_file_list
.cproject
.project
OpenAVRc/.settings/org.eclipse.cdt.core.prefs
BootFramXM256x3/config.mk
BootFramXM256x3/config.h
OpenAVRc_Desktop.exe
/BootFramXM256x3/.dep
