*.depend
*.layout
OpenAVRc/stamp-OpenAVRc.h
OpenAVRc/OpenAVRc.map
*.hex
*.elf
*.bin
*.o
*.res
OpenAVRc_Simulator\obj\
OpenAVRc_Desktop\obj\
OpenAVRc_Simulator\bin\*.exe
OpenAVRc_Desktop\bin\*.exe
OpenAVRc_Desktop/bin/Debug/CompileBatFile.bat
OpenAVRc_Desktop/bin/Release/OpenAVRc_Desktop.exe
OpenAVRc_Desktop/bin/Debug/OpenAVRc_Desktop.exe
PCB Shield/Test/connector_mini-JQ6500-28P.kicad_mod
PCB Shield/Test/connector_mini-JQ6500-28P.kicad_mod
PCB Shield/Test/connector-JQ6500-28P.kicad_mod
