<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="GvarsFrame">
		<title>Variables globales</title>
		<pos>60,60</pos>
		<size>421,156</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxSUNKEN_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,48</pos>
			<size>392,176</size>
			<object class="wxGrid" name="ID_GRID1" variable="GVARSGrid" member="yes">
				<cols>6</cols>
				<rows>6</rows>
				<readonly>1</readonly>
				<labelrowheight>22</labelrowheight>
				<labelcolwidth>60</labelcolwidth>
				<defaultrowsize>22</defaultrowsize>
				<defaultcolsize>60</defaultcolsize>
				<pos>0,0</pos>
				<size>432,184</size>
				<enabled>0</enabled>
				<style>wxSUNKEN_BORDER</style>
				<handler function="OnGVARSGridCellLeftClick" entry="EVT_CMD_GRID_CELL_LEFT_CLICK" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoPhase0" variable="TextCtrlpersoPhase0" member="yes">
				<value>npha0</value>
				<maxlength>6</maxlength>
				<pos>63,2</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoPhase0TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoPhase1" variable="TextCtrlpersoPhase1" member="yes">
				<value>npha1</value>
				<maxlength>6</maxlength>
				<pos>123,2</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoPhase1TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoPhase2" variable="TextCtrlpersoPhase2" member="yes">
				<value>npha2</value>
				<maxlength>6</maxlength>
				<pos>183,2</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoPhase2TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoPhase3" variable="TextCtrlpersoPhase3" member="yes">
				<value>npha3</value>
				<maxlength>6</maxlength>
				<pos>243,2</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoPhase3TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoPhase4" variable="TextCtrlpersoPhase4" member="yes">
				<value>npha4</value>
				<maxlength>6</maxlength>
				<pos>303,2</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoPhase4TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoPhase5" variable="TextCtrlpersoPhase5" member="yes">
				<value>npha5</value>
				<maxlength>6</maxlength>
				<pos>363,2</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoPhase5TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoGvar1" variable="TextCtrlpersoGvar1" member="yes">
				<value>valvg1</value>
				<maxlength>6</maxlength>
				<pos>2,22</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS|wxFULL_REPAINT_ON_RESIZE</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoGvar1TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoGvar2" variable="TextCtrlpersoGvar2" member="yes">
				<value>valvg2</value>
				<maxlength>6</maxlength>
				<pos>2,44</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS|wxFULL_REPAINT_ON_RESIZE</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoGvar2TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoGvar3" variable="TextCtrlpersoGvar3" member="yes">
				<value>valvg3</value>
				<maxlength>6</maxlength>
				<pos>2,66</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS|wxFULL_REPAINT_ON_RESIZE</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoGvar3TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoGvar4" variable="TextCtrlpersoGvar4" member="yes">
				<value>valvg4</value>
				<maxlength>6</maxlength>
				<pos>2,88</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoGvar4TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoGvar5" variable="TextCtrlpersoGvar5" member="yes">
				<value>valvg5</value>
				<maxlength>6</maxlength>
				<pos>2,110</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlpersoAllText" entry="EVT_TEXT" />
				<handler function="OnTextCtrlpersoGvar5TextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_TextCtrlpersoGvar6" variable="TextCtrlpersoGvar6" member="yes">
				<value>valvg6</value>
				<maxlength>6</maxlength>
				<pos>2,132</pos>
				<size>58,22</size>
				<style>wxTE_CENTRE|wxWANTS_CHARS</style>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERGVARS" variable="gvarsTimer" member="yes">
			<interval>2000</interval>
			<handler function="OngvarsTimerTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
