<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="GvarsFrame">
		<title>Variables globales</title>
		<pos>60,60</pos>
		<size>332,153</size>
		<maxsize>615,398</maxsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxSUNKEN_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,48</pos>
			<size>328,153</size>
			<object class="wxGrid" name="ID_GRID1" variable="GVARSGrid" member="yes">
				<cols>6</cols>
				<rows>5</rows>
				<readonly>1</readonly>
				<labelrowheight>20</labelrowheight>
				<labelcolwidth>36</labelcolwidth>
				<defaultcolsize>40</defaultcolsize>
				<collabels>
					<item>PV0</item>
					<item>PV1</item>
					<item>PV2</item>
					<item>PV3</item>
					<item>PV4</item>
					<item>PV5</item>
				</collabels>
				<rowlabels>
					<item>VG1</item>
					<item>VG2</item>
					<item>VG3</item>
					<item>VG4</item>
					<item>VG5</item>
					<item>VG6</item>
				</rowlabels>
				<pos>8,8</pos>
				<size>304,128</size>
				<enabled>0</enabled>
				<style>wxSUNKEN_BORDER</style>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERGVARS" variable="gvarsTimer" member="yes">
			<interval>2000</interval>
			<handler function="OngvarsTimerTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
