<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MixerFrame">
		<title>Mixeur</title>
		<pos>20,20</pos>
		<size>720,140</size>
		<maxsize>720,900</maxsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxCLOSE_BOX|wxSUNKEN_BORDER|wxRAISED_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRLHEADERLINE" variable="Headerline" member="yes">
								<value>Texte</value>
								<size>623,31</size>
								<bg>wxSYS_COLOUR_MENU</bg>
								<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH|wxTE_LEFT</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>2</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRLMIXERLINE" variable="Mixerline1" member="yes">
								<value>Texte</value>
								<size>725,67</size>
								<bg>wxSYS_COLOUR_MENU</bg>
								<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH|wxTE_LEFT</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>2</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERREFRESHFRAME" variable="TimerRefreshFrame" member="yes">
			<interval>500</interval>
			<handler function="OnTimerRefreshFrameTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
