<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MixerFrame">
		<title>Mixeur</title>
		<size>778,287</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxVSCROLL|wxFULL_REPAINT_ON_RESIZE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Mixer" member="yes">
			<pos>256,200</pos>
			<size>818,248</size>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="Mixerline1" member="yes">
				<value>Texte</value>
				<pos>0,32</pos>
				<size>816,256</size>
				<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH|wxVSCROLL|wxHSCROLL</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="Headerline" member="yes">
				<value>Texte</value>
				<pos>0,0</pos>
				<size>816,32</size>
				<style>wxTE_NO_VSCROLL|wxTE_READONLY|wxTE_RICH|wxTE_LEFT</style>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERREFRESHFRAME" variable="TimerRefreshFrame" member="yes">
			<interval>500</interval>
			<handler function="OnTimerRefreshFrameTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
