<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ModelNameDialog">
		<size>181,67</size>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>288,176</size>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Nom du modèle</label>
				<pos>0,0</pos>
				<size>176,64</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLNEWNAME" variable="TextCtrlnewName" member="yes">
				<value>10 Chars Max</value>
				<maxlength>10</maxlength>
				<pos>40,24</pos>
				<validator>validator</validator>
				<style>wxTE_PROCESS_ENTER|wxWANTS_CHARS</style>
				<handler function="OnTextCtrlnewNameTextEnter" entry="EVT_TEXT_ENTER" />
			</object>
		</object>
	</object>
</wxsmith>
