<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="RadioDataFrame">
		<size>196,306</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>184,128</pos>
			<size>209,304</size>
			<object class="wxTextCtrl" name="ID_TEXTCTRLVERSION" variable="TextCtrlversion" member="yes">
				<value>Texte</value>
				<pos>8,8</pos>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlvariant" member="yes">
				<value>Texte</value>
				<pos>112,8</pos>
				<size>88,21</size>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrlcurrModel" member="yes">
				<value>Texte</value>
				<pos>8,32</pos>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLBATT" variable="TextCtrlBatt" member="yes">
				<value>Texte</value>
				<pos>8,88</pos>
				<size>192,21</size>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLSTICKMODE" variable="TextCtrlstickMode" member="yes">
				<value>Texte</value>
				<pos>8,112</pos>
				<size>144,21</size>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLCalibration" variable="TextCtrlcalibration" member="yes">
				<value>Texte</value>
				<pos>8,176</pos>
				<size>184,112</size>
				<bg>wxSYS_COLOUR_MENU</bg>
				<style>wxTE_NO_VSCROLL|wxTE_MULTILINE|wxTE_READONLY</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>                     Max         Min       Alarm</label>
				<pos>8,64</pos>
				<size>192,24</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Calibration</label>
				<pos>16,152</pos>
				<size>168,21</size>
				<style>wxALIGN_CENTRE</style>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERRADIODATA" variable="RadioData" member="yes">
			<interval>2000</interval>
		</object>
	</object>
</wxsmith>
