<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="RadioDataFrame">
		<title>Radio Data</title>
		<pos>80,80</pos>
		<size>210,420</size>
		<extra_code>wxDEFAULT__FRAME__STYLE &amp; ~(wxRESIZE__BORDER | wxMAXIMIZE__BOX);</extra_code>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Calibration</label>
				<pos>8,144</pos>
				<size>192,176</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLVERSION" variable="TextCtrlversion" member="yes">
				<pos>8,8</pos>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlvariant" member="yes">
				<pos>112,8</pos>
				<size>88,21</size>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrlcurrModel" member="yes">
				<pos>8,32</pos>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLBATT" variable="TextCtrlBatt" member="yes">
				<pos>8,88</pos>
				<size>192,21</size>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLSTICKMODE" variable="TextCtrlstickMode" member="yes">
				<pos>8,112</pos>
				<size>144,21</size>
				<style>wxTE_READONLY</style>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLCalibration" variable="TextCtrlcalibration" member="yes">
				<pos>16,192</pos>
				<size>176,120</size>
				<bg>wxSYS_COLOUR_MENU</bg>
				<style>wxTE_NO_VSCROLL|wxTE_MULTILINE|wxTE_READONLY</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>                     Max         Min       Alarm</label>
				<pos>8,64</pos>
				<size>192,24</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label> 1024            1024           1024</label>
				<pos>16,168</pos>
				<size>168,13</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLCONTRAST" variable="TextCtrlcontrast" member="yes">
				<pos>16,336</pos>
				<bg>wxSYS_COLOUR_MENU</bg>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRLHAPTICMODE" variable="TextCtrlhapticMode" member="yes">
				<pos>16,360</pos>
				<size>136,21</size>
				<bg>wxSYS_COLOUR_MENU</bg>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERRADIODATA" variable="RadioData" member="yes">
			<interval>2000</interval>
			<handler function="OnRadioDataTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
