<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="uCliFrame">
		<title>uCli</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxTextCtrl" name="ID_TEXTCTRL" variable="TextCtrl" member="yes">
			<pos>224,320</pos>
			<style>wxTE_PROCESS_ENTER|wxTE_MULTILINE|wxDOUBLE_BORDER</style>
			<handler function="OnTextCtrlTextEnter" entry="EVT_TEXT_ENTER" />
		</object>
	</object>
</wxsmith>
