<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="BluetoothFrame">
		<title>Bluetooth</title>
		<size>645,409</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>392,176</pos>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBoxCom" member="yes">
				<label>Communication</label>
				<pos>8,8</pos>
				<size>392,88</size>
			</object>
			<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBoxCom" member="yes">
				<pos>64,32</pos>
				<size>72,23</size>
				<handler function="OnComboBoxComSelected" entry="EVT_COMBOBOX" />
				<handler function="OnComboBoxComDropdown" entry="EVT_COMBOBOX_DROPDOWN" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Port :</label>
				<pos>16,32</pos>
				<size>40,16</size>
				<style>wxALIGN_RIGHT</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Mémoire libre :</label>
				<pos>160,32</pos>
				<size>96,16</size>
				<style>wxALIGN_RIGHT</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticTextFreeMem" member="yes">
				<label>------</label>
				<pos>264,32</pos>
				<size>80,16</size>
				<style>wxALIGN_LEFT</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticTextVersion" member="yes">
				<label></label>
				<pos>24,64</pos>
				<size>360,16</size>
			</object>
			<object class="wxBitmapButton" name="ID_REBOOTBUTTON" variable="BitmapButtonReboot" member="yes">
				<bitmap stock_id="wxART_WARNING" stock_client="wxART_BUTTON" />
				<pos>344,24</pos>
				<size>40,23</size>
				<tooltip>Reboot</tooltip>
				<handler function="OnBitmapButtonRebootClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBoxLocal1" member="yes">
				<label>Local</label>
				<pos>8,104</pos>
				<size>200,296</size>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOXSD" variable="StaticBoxSD" member="yes">
				<label>Carte SD</label>
				<pos>216,104</pos>
				<size>200,296</size>
			</object>
			<object class="wxTreeCtrl" name="ID_TREECTRLSD" variable="TC_SD" member="yes">
				<image_list>&lt;none&gt;</image_list>
				<tree_items>
					<élément>TC_SD</élément>
					<élément>&lt;none&gt;</élément>
				</tree_items>
				<items_text>
					<item2>TC_SD</item2>
					<item2>&lt;none&gt;</item2>
				</items_text>
				<expand_all>1</expand_all>
				<pos>224,128</pos>
				<size>184,264</size>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMERRX" variable="TimerRX" member="yes">
			<interval>200</interval>
			<oneshot>1</oneshot>
			<handler function="OnTimerRXTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
