<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="CommunicationsFrame">
		<title>Communication avec la radio </title>
		<size>480,335</size>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>Paramètres de communication avec la radio</label>
			<pos>24,24</pos>
			<size>432,248</size>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBox1" member="yes">
			<content>
				<item>stk500v2</item>
				<item>stk500</item>
				<item>avrisp</item>
				<item>usbasp</item>
				<item>avr109</item>
				<item>avrispmkii</item>
				<item>avrisp2</item>
			</content>
			<pos>160,72</pos>
			<size>96,24</size>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX2" variable="ComboBox2" member="yes">
			<content>
				<item>usb</item>
			</content>
			<pos>160,120</pos>
			<size>96,24</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Programmateur</label>
			<pos>32,80</pos>
			<size>120,16</size>
			<style>wxALIGN_RIGHT</style>
		</object>
		<object class="wxButton" name="ID_BUTTONENTER" variable="ButtonEnter" member="yes">
			<label>Valider</label>
			<pos>376,296</pos>
			<size>80,24</size>
			<handler function="OnButtonEnterClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Port</label>
			<pos>32,128</pos>
			<size>120,16</size>
			<style>wxALIGN_RIGHT</style>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX3" variable="ComboBox3" member="yes">
			<content>
				<item>m2560</item>
				<item>m2560fram</item>
			</content>
			<pos>160,168</pos>
			<size>96,24</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Type de radio</label>
			<pos>32,176</pos>
			<size>120,16</size>
			<style>wxALIGN_RIGHT</style>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Répertoire de avrdude</label>
			<pos>32,224</pos>
			<size>120,16</size>
			<style>wxALIGN_RIGHT</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>160,216</pos>
			<size>228,24</size>
		</object>
		<object class="wxButton" name="ID_BUTTONESC" variable="ButtonEsc" member="yes">
			<label>Annuler</label>
			<pos>264,296</pos>
			<size>80,24</size>
			<handler function="OnButtonEscClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONSEARCHAVRDUDEPATH" variable="ButtonSearchavrdudepath" member="yes">
			<label>...</label>
			<pos>400,216</pos>
			<size>40,24</size>
			<handler function="OnButtonSearchavrdudepathClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTONDETECT" variable="ButtonDetect" member="yes">
			<label>Detection</label>
			<pos>304,120</pos>
			<size>80,24</size>
			<handler function="OnButtonDetectClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Test</label>
			<pos>152,296</pos>
			<size>80,24</size>
			<handler function="OnTESTClick1" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
