<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="OpenAVRc_DesktopFrame">
		<title>OpenAVRc Desktop</title>
		<size>592,282</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<size>848,280</size>
			<focused>1</focused>
			<style>0</style>
			<object class="wxStaticBox" name="ID_STATICBOXSPLASH" variable="StaticBoxSplash" member="yes">
				<label>Ecran d&apos;accueil</label>
				<pos>160,8</pos>
				<size>272,192</size>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOXCONFIG" variable="StaticBoxConfig" member="yes">
				<label>Configuration</label>
				<pos>16,8</pos>
				<size>136,192</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>SIMULATEUR</label>
				<pos>8,208</pos>
				<size>568,31</size>
				<handler function="OnSimulateurClick2" entry="EVT_BUTTON" />
			</object>
			<object class="wxListBox" name="ID_LISTBOXCONFIG" variable="ListBoxConfig" member="yes">
				<default>-1</default>
				<pos>24,32</pos>
				<size>120,160</size>
				<style>wxLB_SINGLE|wxDOUBLE_BORDER|wxVSCROLL</style>
				<handler function="OnListBoxConfigDClick" entry="EVT_LISTBOX" />
				<handler function="OnListBoxConfigDClick" entry="EVT_LISTBOX_DCLICK" />
			</object>
			<object class="wxPanel" name="ID_SPLASH" variable="PanelSplash" member="yes">
				<pos>169,64</pos>
				<size>256,128</size>
				<bg>#FFFFFF</bg>
				<style>wxNO_BORDER</style>
				<handler function="OnPanelSplashPaint" entry="EVT_PAINT" />
			</object>
			<object class="wxButton" name="ID_BUTTONPERSO" variable="ButtonPerso" member="yes">
				<label>Personnaliser</label>
				<pos>192,30</pos>
				<size>75,24</size>
				<tooltip>Attention : Tous ce qui n&apos;est pas blanc sera converti en noir</tooltip>
				<handler function="OnButtonPersoClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTONSPLASHDEFAULT" variable="ButtonSplashDefault" member="yes">
				<label>Par défaut</label>
				<pos>312,30</pos>
				<size>75,24</size>
				<tooltip>Restaurer l&apos;écran par défaut</tooltip>
				<handler function="OnButtonSplashDefaultClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Fichiers Voix</label>
				<pos>440,8</pos>
				<size>136,128</size>
			</object>
			<object class="wxChoice" name="ID_CHOICE1" variable="ChoiceLangue" member="yes">
				<content>
					<item>CZ</item>
					<item>DE</item>
					<item>EN</item>
					<item>ES</item>
					<item>FR</item>
					<item>HU</item>
					<item>IT</item>
					<item>NL</item>
					<item>PL</item>
					<item>PT</item>
					<item>SE</item>
					<item>SK</item>
				</content>
				<selection>0</selection>
				<pos>504,32</pos>
				<size>48,21</size>
				<tooltip>Choisissez la langue des mensages vocales</tooltip>
				<handler function="OnChoiceLangueSelect" entry="EVT_CHOICE" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Langue</label>
				<pos>456,40</pos>
				<tooltip>Choisissez la langue des mensages vocales</tooltip>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="ButtonEditeur" member="yes">
				<label>Éditeur</label>
				<pos>472,72</pos>
				<size>83,23</size>
				<tooltip>Pour changer les messages</tooltip>
				<handler function="OnEDITEURClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="ButtonCarteSD" member="yes">
				<label>Carte SD</label>
				<pos>472,104</pos>
				<size>83,23</size>
				<help>Écriture dans la carte SD</help>
				<handler function="OnButtonCarteSDClick" entry="EVT_BUTTON" />
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar_main" member="yes">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>Fichier</label>
				<object class="wxMenuItem" name="ID_MENUITEMNEWCONFIG" variable="MenuNewconfig" member="yes">
					<label>Nouvelle configuration</label>
					<bitmap stock_id="wxART_NEW" stock_client="wxART_MENU" />
					<handler function="OnMenuNewconfigSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUDELETEACTIVECONFIG" variable="MenuDeleteActiveConfig" member="yes">
					<label>Supprimer la configuration active</label>
					<bitmap stock_id="wxART_CROSS_MARK" stock_client="wxART_MENU" />
					<handler function="OnMenuDeleteActiveConfigSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quitter</label>
					<accel>Alt-F4</accel>
					<help>Quitter l&apos;application</help>
					<bitmap stock_id="wxART_QUIT" stock_client="wxART_MENU" />
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Paramètres</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem3" member="yes">
					<label>Programmateur</label>
					<bitmap stock_id="wxART_EXECUTABLE_FILE" />
					<handler function="OnProgrammerSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUVOICECHOICE" variable="MenuChoiceVoice" member="yes">
					<label>Synthèse vocale</label>
					<bitmap stock_id="wxART_HELP" />
					<handler function="OnMenuChoiceVoiceSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Lire/Écrire</label>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="Menu5" member="yes">
					<label>Lire les réglages et le modèles de la radio (eeprom)</label>
					<bitmap stock_id="wxART_GO_FORWARD" stock_client="wxART_MENU" />
					<handler function="OnreadmodelsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem6" member="yes">
					<label>Lire le firmware de la radio</label>
					<bitmap stock_id="wxART_GO_FORWARD" stock_client="wxART_MENU" />
					<handler function="OnreadfirmwareSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem5" member="yes">
					<label>Écrire les réglages et les modèles dans la radio (eeprom)</label>
					<bitmap stock_id="wxART_GO_BACK" stock_client="wxART_MENU" />
					<handler function="OnWriteModelToRadioSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem7" member="yes">
					<label>Écrire le firmware dans la radio</label>
					<bitmap stock_id="wxART_GO_BACK" stock_client="wxART_MENU" />
					<handler function="OnWriteFirmwareToRadioSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenu" name="ID_MENUITEM7" variable="MenuItem8" member="yes">
					<label>Fusibles et Bootloader</label>
					<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem10" member="yes">
						<label>Écrire les fusibles</label>
						<bitmap stock_id="wxART_GO_BACK" />
						<handler function="OnEcrirelesFuseesSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem11" member="yes">
						<label>Écrire le bootloader</label>
						<bitmap stock_id="wxART_GO_BACK" />
						<handler function="OnEcrirelebootloaderSelected" entry="EVT_MENU" />
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu7" member="yes">
				<label>Compilateur</label>
				<object class="wxMenuItem" name="ID_MENUCOMPILOMATIC" variable="ATMEGA2560Compiler" member="yes">
					<label>Compil-O-matic</label>
					<bitmap stock_id="wxART_EXECUTABLE_FILE" stock_client="wxART_MENU" />
					<handler function="OnATMEGA2560CompilerSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Aide</label>
				<object class="wxMenu" name="ID_MENUITEM2" variable="MenuHtmlDoc" member="yes">
					<label>Documentation en ligne</label>
					<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem9" member="yes">
						<label>OpenAVRc Manual (JPZ)</label>
						<handler function="OnMenuItem9Selected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem4" member="yes">
						<label>JQ6500 PCB (by Pyrall)</label>
						<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_MENU" />
						<handler function="OnMenuJQ6500_PCBSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem12" member="yes">
						<label>VOICE/AUDIO PCB et RTC (by Pyrall)</label>
						<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_MENU" />
						<handler function="OnMenuVOICE_AUDIO_PCBSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_MENUITEM15" variable="MenuItem15" member="yes">
						<label>Autres links</label>
					</object>
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>A propos</label>
					<accel>F1</accel>
					<bitmap stock_id="wxART_INFORMATION" stock_client="wxART_MENU" />
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar_main" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
