<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="SDVoiceFrame">
		<size>262,289</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>232,184</pos>
			<size>322,296</size>
			<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
				<label>Localization de la carte SD</label>
				<pos>64,64</pos>
				<size>168,56</size>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Carte voix</label>
				<pos>64,144</pos>
				<size>168,64</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="EnrgisterlacarteSD" member="yes">
				<label>OK</label>
				<pos>160,248</pos>
				<size>88,24</size>
				<handler function="OnButton1Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxChoice" name="ID_CHOICE1" variable="SoundCard" member="yes">
				<content>
					<item>JQ5600</item>
					<item>WTV20SD</item>
				</content>
				<pos>88,176</pos>
				<handler function="OnSoundCardSelect" entry="EVT_CHOICE" />
			</object>
			<object class="wxComboBox" name="ID_COMBOBOX1" variable="Drive" member="yes">
				<content>
					<item>D:</item>
					<item>E:</item>
					<item>F:</item>
					<item>G:</item>
					<item>H:</item>
					<item>I:</item>
				</content>
				<pos>176,88</pos>
			</object>
		</object>
	</object>
</wxsmith>
