<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Voice_choice">
		<title>Synthèse vocale</title>
		<size>399,150</size>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxCLOSE_BOX</style>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>72,56</pos>
			<size>399,160</size>
			<object class="wxButton" name="ID_BUTTONSAVEVOICE" variable="Buttonsavevoice" member="yes">
				<label>Sauvegarder réglage</label>
				<pos>208,104</pos>
				<size>160,24</size>
				<handler function="OnButtonsavevoiceClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Choisissez votre moteur de synthèse vocale</label>
				<pos>32,24</pos>
				<size>360,16</size>
			</object>
			<object class="wxComboBox" name="ID_COMBOBOXVOICE" variable="ComboBoxvoice" member="yes">
				<pos>32,56</pos>
				<size>336,24</size>
			</object>
		</object>
	</object>
</wxsmith>
