<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="VoiceEditFrame">
		<title>Voix</title>
		<icon stock_id="wxART_HELP_BOOK" />
		<size>410,521</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>160,208</pos>
			<size>408,520</size>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Cliquez pour écouter, double click pour éditer.</label>
				<pos>16,8</pos>
				<size>376,472</size>
			</object>
			<object class="wxGrid" name="ID_GRID1" variable="VoiceGrid" member="yes">
				<cols>2</cols>
				<rows>512</rows>
				<labelrowheight>20</labelrowheight>
				<labelcolwidth>40</labelcolwidth>
				<defaultcolsize>150</defaultcolsize>
				<collabels>
					<item>Nom</item>
					<item>Annonces vocales</item>
				</collabels>
				<rowlabels>
					<item>0000</item>
					<item>0001</item>
					<item>0002</item>
					<item>0003</item>
					<item>0004</item>
					<item>0005</item>
					<item>0006</item>
					<item>0007</item>
					<item>0008</item>
					<item>0009</item>
					<item>0010</item>
					<item>0011</item>
					<item>0012</item>
					<item>0013</item>
					<item>0014</item>
					<item>0015</item>
					<item>0016</item>
					<item>0017</item>
					<item>0018</item>
					<item>0019</item>
					<item>0020</item>
					<item>0021</item>
					<item>0022</item>
					<item>0023</item>
					<item>0024</item>
					<item>0025</item>
					<item>0026</item>
					<item>0027</item>
					<item>0028</item>
					<item>0029</item>
					<item>0030</item>
					<item>0031</item>
					<item>0032</item>
					<item>0033</item>
					<item>0034</item>
					<item>0035</item>
					<item>0036</item>
					<item>0037</item>
					<item>0038</item>
					<item>0039</item>
					<item>0040</item>
					<item>0041</item>
					<item>0042</item>
					<item>0043</item>
					<item>0044</item>
					<item>0045</item>
					<item>0046</item>
					<item>0047</item>
					<item>0048</item>
					<item>0049</item>
					<item>0050</item>
					<item>0051</item>
					<item>0052</item>
					<item>0053</item>
					<item>0054</item>
					<item>0055</item>
					<item>0056</item>
					<item>0057</item>
					<item>0058</item>
					<item>0059</item>
					<item>0060</item>
					<item>0061</item>
					<item>0062</item>
					<item>0063</item>
					<item>0064</item>
					<item>0065</item>
					<item>0066</item>
					<item>0067</item>
					<item>0068</item>
					<item>0069</item>
					<item>0070</item>
					<item>0071</item>
					<item>0072</item>
					<item>0073</item>
					<item>0074</item>
					<item>0075</item>
					<item>0076</item>
					<item>0077</item>
					<item>0078</item>
					<item>0079</item>
					<item>0080</item>
					<item>0081</item>
					<item>0082</item>
					<item>0083</item>
					<item>0084</item>
					<item>0085</item>
					<item>0086</item>
					<item>0087</item>
					<item>0088</item>
					<item>0089</item>
					<item>0090</item>
					<item>0091</item>
					<item>0092</item>
					<item>0093</item>
					<item>0094</item>
					<item>0095</item>
					<item>0096</item>
					<item>0097</item>
					<item>0098</item>
					<item>0099</item>
					<item>0100</item>
					<item>0101</item>
					<item>0102</item>
					<item>0103</item>
					<item>0104</item>
					<item>0105</item>
					<item>0106</item>
					<item>0107</item>
					<item>0108</item>
					<item>0109</item>
					<item>0110</item>
					<item>0111</item>
					<item>0112</item>
					<item>0113</item>
					<item>0114</item>
					<item>0115</item>
					<item>0116</item>
					<item>0117</item>
					<item>0118</item>
					<item>0119</item>
					<item>0120</item>
					<item>0121</item>
					<item>0122</item>
					<item>0123</item>
					<item>0124</item>
					<item>0125</item>
					<item>0126</item>
					<item>0127</item>
					<item>0128</item>
					<item>0129</item>
					<item>0130</item>
					<item>0131</item>
					<item>0132</item>
					<item>0133</item>
					<item>0134</item>
					<item>0135</item>
					<item>0136</item>
					<item>0137</item>
					<item>0138</item>
					<item>0139</item>
					<item>0140</item>
					<item>0141</item>
					<item>0142</item>
					<item>0143</item>
					<item>0144</item>
					<item>0145</item>
					<item>0146</item>
					<item>0147</item>
					<item>0148</item>
					<item>0149</item>
					<item>0150</item>
					<item>0151</item>
					<item>0152</item>
					<item>0153</item>
					<item>0154</item>
					<item>0155</item>
					<item>0156</item>
					<item>0157</item>
					<item>0158</item>
					<item>0159</item>
					<item>0160</item>
					<item>0161</item>
					<item>0162</item>
					<item>0163</item>
					<item>0164</item>
					<item>0165</item>
					<item>0166</item>
					<item>0167</item>
					<item>0168</item>
					<item>0169</item>
					<item>0170</item>
					<item>0171</item>
					<item>0172</item>
					<item>0173</item>
					<item>0174</item>
					<item>0175</item>
					<item>0176</item>
					<item>0177</item>
					<item>0178</item>
					<item>0179</item>
					<item>0180</item>
					<item>0181</item>
					<item>0182</item>
					<item>0183</item>
					<item>0184</item>
					<item>0185</item>
					<item>0186</item>
					<item>0187</item>
					<item>0188</item>
					<item>0189</item>
					<item>0190</item>
					<item>0191</item>
					<item>0192</item>
					<item>0193</item>
					<item>0194</item>
					<item>0195</item>
					<item>0196</item>
					<item>0197</item>
					<item>0198</item>
					<item>0199</item>
					<item>0200</item>
					<item>0201</item>
					<item>0202</item>
					<item>0203</item>
					<item>0204</item>
					<item>0205</item>
					<item>0206</item>
					<item>0207</item>
					<item>0208</item>
					<item>0209</item>
					<item>0210</item>
					<item>0211</item>
					<item>0212</item>
					<item>0213</item>
					<item>0214</item>
					<item>0215</item>
					<item>0216</item>
					<item>0217</item>
					<item>0218</item>
					<item>0219</item>
					<item>0220</item>
					<item>0221</item>
					<item>0222</item>
					<item>0223</item>
					<item>0224</item>
					<item>0225</item>
					<item>0226</item>
					<item>0227</item>
					<item>0228</item>
					<item>0229</item>
					<item>0230</item>
					<item>0231</item>
					<item>0232</item>
					<item>0233</item>
					<item>0234</item>
					<item>0235</item>
					<item>0236</item>
					<item>0237</item>
					<item>0238</item>
					<item>0239</item>
					<item>0240</item>
					<item>0241</item>
					<item>0242</item>
					<item>0243</item>
					<item>0244</item>
					<item>0245</item>
					<item>0246</item>
					<item>0247</item>
					<item>0248</item>
					<item>0249</item>
					<item>0250</item>
					<item>0251</item>
					<item>0252</item>
					<item>0253</item>
					<item>0254</item>
					<item>0255</item>
					<item>0256</item>
					<item>0257</item>
					<item>0258</item>
					<item>0259</item>
					<item>0260</item>
					<item>0261</item>
					<item>0262</item>
					<item>0263</item>
					<item>0264</item>
					<item>0265</item>
					<item>0266</item>
					<item>0267</item>
					<item>0268</item>
					<item>0269</item>
					<item>0270</item>
					<item>0271</item>
					<item>0272</item>
					<item>0273</item>
					<item>0274</item>
					<item>0275</item>
					<item>0276</item>
					<item>0277</item>
					<item>0278</item>
					<item>0279</item>
					<item>0280</item>
					<item>0281</item>
					<item>0282</item>
					<item>0283</item>
					<item>0284</item>
					<item>0285</item>
					<item>0286</item>
					<item>0287</item>
					<item>0288</item>
					<item>0289</item>
					<item>0290</item>
					<item>0291</item>
					<item>0292</item>
					<item>0293</item>
					<item>0294</item>
					<item>0295</item>
					<item>0296</item>
					<item>0297</item>
					<item>0298</item>
					<item>0299</item>
					<item>0300</item>
					<item>0301</item>
					<item>0302</item>
					<item>0303</item>
					<item>0304</item>
					<item>0305</item>
					<item>0306</item>
					<item>0307</item>
					<item>0308</item>
					<item>0309</item>
					<item>0310</item>
					<item>0311</item>
					<item>0312</item>
					<item>0313</item>
					<item>0314</item>
					<item>0315</item>
					<item>0316</item>
					<item>0317</item>
					<item>0318</item>
					<item>0319</item>
					<item>0320</item>
					<item>0321</item>
					<item>0322</item>
					<item>0323</item>
					<item>0324</item>
					<item>0325</item>
					<item>0326</item>
					<item>0327</item>
					<item>0328</item>
					<item>0329</item>
					<item>0330</item>
					<item>0331</item>
					<item>0332</item>
					<item>0333</item>
					<item>0334</item>
					<item>0335</item>
					<item>0336</item>
					<item>0337</item>
					<item>0338</item>
					<item>0339</item>
					<item>0340</item>
					<item>0341</item>
					<item>0342</item>
					<item>0343</item>
					<item>0344</item>
					<item>0345</item>
					<item>0346</item>
					<item>0347</item>
					<item>0348</item>
					<item>0349</item>
					<item>0350</item>
					<item>0351</item>
					<item>0352</item>
					<item>0353</item>
					<item>0354</item>
					<item>0355</item>
					<item>0356</item>
					<item>0357</item>
					<item>0358</item>
					<item>0359</item>
					<item>0360</item>
					<item>0361</item>
					<item>0362</item>
					<item>0363</item>
					<item>0364</item>
					<item>0365</item>
					<item>0366</item>
					<item>0367</item>
					<item>0368</item>
					<item>0369</item>
					<item>0370</item>
					<item>0371</item>
					<item>0372</item>
					<item>0373</item>
					<item>0374</item>
					<item>0375</item>
					<item>0376</item>
					<item>0377</item>
					<item>0378</item>
					<item>0379</item>
					<item>0380</item>
					<item>0381</item>
					<item>0382</item>
					<item>0383</item>
					<item>0384</item>
					<item>0385</item>
					<item>0386</item>
					<item>0387</item>
					<item>0388</item>
					<item>0389</item>
					<item>0390</item>
					<item>0391</item>
					<item>0392</item>
					<item>0393</item>
					<item>0394</item>
					<item>0395</item>
					<item>0396</item>
					<item>0397</item>
					<item>0398</item>
					<item>0399</item>
					<item>0400</item>
					<item>0401</item>
					<item>0402</item>
					<item>0403</item>
					<item>0404</item>
					<item>0405</item>
					<item>0406</item>
					<item>0407</item>
					<item>0408</item>
					<item>0409</item>
					<item>0410</item>
					<item>0411</item>
					<item>0412</item>
					<item>0413</item>
					<item>0414</item>
					<item>0415</item>
					<item>0416</item>
					<item>0417</item>
					<item>0418</item>
					<item>0419</item>
					<item>0420</item>
					<item>0421</item>
					<item>0422</item>
					<item>0423</item>
					<item>0424</item>
					<item>0425</item>
					<item>0426</item>
					<item>0427</item>
					<item>0428</item>
					<item>0429</item>
					<item>0430</item>
					<item>0431</item>
					<item>0432</item>
					<item>0433</item>
					<item>0434</item>
					<item>0435</item>
					<item>0436</item>
					<item>0437</item>
					<item>0438</item>
					<item>0439</item>
					<item>0440</item>
					<item>0441</item>
					<item>0442</item>
					<item>0443</item>
					<item>0444</item>
					<item>0445</item>
					<item>0446</item>
					<item>0447</item>
					<item>0448</item>
					<item>0449</item>
					<item>0450</item>
					<item>0451</item>
					<item>0452</item>
					<item>0453</item>
					<item>0454</item>
					<item>0455</item>
					<item>0456</item>
					<item>0457</item>
					<item>0458</item>
					<item>0459</item>
					<item>0460</item>
					<item>0461</item>
					<item>0462</item>
					<item>0463</item>
					<item>0464</item>
					<item>0465</item>
					<item>0466</item>
					<item>0467</item>
					<item>0468</item>
					<item>0469</item>
					<item>0470</item>
					<item>0471</item>
					<item>0472</item>
					<item>0473</item>
					<item>0474</item>
					<item>0475</item>
					<item>0476</item>
					<item>0477</item>
					<item>0478</item>
					<item>0479</item>
					<item>0480</item>
					<item>0481</item>
					<item>0482</item>
					<item>0483</item>
					<item>0484</item>
					<item>0485</item>
					<item>0486</item>
					<item>0487</item>
					<item>0488</item>
					<item>0489</item>
					<item>0490</item>
					<item>0491</item>
					<item>0492</item>
					<item>0493</item>
					<item>0494</item>
					<item>0495</item>
					<item>0496</item>
					<item>0497</item>
					<item>0498</item>
					<item>0499</item>
					<item>0500</item>
					<item>0501</item>
					<item>0502</item>
					<item>0503</item>
					<item>0504</item>
					<item>0505</item>
					<item>0506</item>
					<item>0507</item>
					<item>0508</item>
					<item>0509</item>
					<item>0510</item>
					<item>0511</item>
				</rowlabels>
				<pos>24,48</pos>
				<size>360,424</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Retour" member="yes">
				<label>OK</label>
				<pos>296,480</pos>
				<handler function="OnRetourClick" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
