<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="CompilerOptionsFrame">
		<title>Compil-O-matic</title>
		<size>807,377</size>
		<tooltip>Référence de l&apos;écran</tooltip>
		<help>Protocoles DSM</help>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>752,327</size>
			<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
				<pos>0,0</pos>
				<size>808,376</size>
				<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
				<object class="notebookpage">
					<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
						<size>802,302</size>
						<handler function="OnPanel2Paint" entry="EVT_PAINT" />
						<object class="wxStaticBox" name="ID_STATICBOX6" variable="StaticBox6" member="yes">
							<label>Other options</label>
							<pos>464,8</pos>
							<size>224,328</size>
						</object>
						<object class="wxStaticBox" name="ID_STATICBOX4" variable="StaticBox4" member="yes">
							<label>Materiel</label>
							<pos>24,16</pos>
							<size>208,320</size>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX17" variable="CheckBoxPPM_LIMITS_SYMETRICAL" member="yes">
							<label>PPM Simm limits</label>
							<pos>560,296</pos>
							<tooltip>Option ajuster le gain fonction du subtrim</tooltip>
						</object>
						<object class="wxStaticBox" name="ID_STATICBOX5" variable="StaticBox5" member="yes">
							<label>Interface</label>
							<pos>232,8</pos>
							<size>224,328</size>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>Unitées des voies</label>
							<pos>240,304</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX16" variable="CheckBoxPPM_CENTER_ADJUSTABLE" member="yes">
							<label>PPM Center adjust</label>
							<pos>560,272</pos>
							<tooltip>Option réglage des neutres indépendant</tooltip>
							<handler function="OnCheckBoxPPM_CENTER_ADJUSTABLEClick1" entry="EVT_CHECKBOX" />
						</object>
						<object class="wxChoice" name="ID_CHOICE4" variable="ChoicePPM_UNIT " member="yes">
							<content>
								<item>PERCENT_PREC1</item>
								<item>PERCENT_PREC0</item>
								<item>US</item>
							</content>
							<selection>0</selection>
							<pos>336,296</pos>
							<size>112,21</size>
							<tooltip>Affichage des valeurs des voies en % ou uS</tooltip>
						</object>
						<object class="wxChoice" name="ID_CHOICE6" variable="ChoicePCB" member="yes">
							<content>
								<item>MEGA2560</item>
								<item>9X</item>
								<item>9X128</item>
								<item>9X2561</item>
								<item>9XR</item>
								<item>9XR128</item>
								<item>9XR2561</item>
								<item>GRUVIN9X</item>
							</content>
							<selection>0</selection>
							<pos>112,32</pos>
							<size>96,21</size>
							<tooltip>Type de radio</tooltip>
						</object>
						<object class="wxChoice" name="ID_CHOICE1" variable="ChoiceLCD" member="yes">
							<content>
								<item>DEFAULT</item>
								<item>ST7565P</item>
								<item>ST7565R </item>
								<item>ERC12864FSF</item>
								<item>ST7920</item>
								<item>KS108</item>
								<item>SSD1306</item>
							</content>
							<selection>0</selection>
							<pos>112,72</pos>
							<size>96,21</size>
							<tooltip>Référence de l&apos;écran</tooltip>
							<handler function="OnChoiceLCDSelect" entry="EVT_CHOICE" />
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>PROCESSOR</label>
							<pos>32,40</pos>
							<size>64,13</size>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>LCD</label>
							<pos>64,80</pos>
						</object>
						<object class="wxChoice" name="ID_CHOICE3" variable="ChoiceVOICE" member="yes">
							<content>
								<item>NO</item>
								<item>YES</item>
								<item>WTV20SD</item>
								<item>JQ6500</item>
							</content>
							<selection>0</selection>
							<pos>112,120</pos>
							<size>96,21</size>
							<tooltip>Option annoces vocales</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Voice</label>
							<pos>56,128</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX7" variable="CheckBoxAUDIO" member="yes">
							<label>Audio</label>
							<pos>112,160</pos>
							<size>48,16</size>
							<tooltip>Option audio</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX14" variable="CheckBoxHAPTIC" member="yes">
							<label>Haptic</label>
							<pos>112,192</pos>
							<tooltip>Option Vibreur</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBoxHELI" member="yes">
							<label>HELI</label>
							<pos>560,152</pos>
							<tooltip>Option hélicoptère</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX15" variable="CheckBoxTEMPLATES" member="yes">
							<label>TEMPLATES</label>
							<pos>560,176</pos>
							<tooltip>AOption modèles pré programmés</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX9" variable="CheckBoxRTCLOCK" member="yes">
							<label>RTC Clock</label>
							<pos>112,248</pos>
							<size>80,21</size>
							<tooltip>Option horloge temps réel</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX12" variable="CheckBoxSD_CARD" member="yes">
							<label>SD CARD</label>
							<pos>112,224</pos>
							<tooltip>Option carte SD (Sauvegarde - Fichiers log)</tooltip>
						</object>
						<object class="wxChoice" name="ID_CHOICE7" variable="ChoiceTRANSLATIONS" member="yes">
							<content>
								<item>CZ</item>
								<item>DE</item>
								<item>EN</item>
								<item>ES</item>
								<item>FR</item>
								<item>HU</item>
								<item>IT</item>
								<item>NL</item>
								<item>PL</item>
								<item>PT</item>
								<item>SE</item>
								<item>SK</item>
							</content>
							<selection>3</selection>
							<pos>336,32</pos>
							<size>112,21</size>
							<tooltip>Langue affichée</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
							<label>Langue</label>
							<pos>272,40</pos>
						</object>
						<object class="wxChoice" name="ID_CHOICE5" variable="ChoiceTTS" member="yes">
							<content>
								<item>CZ</item>
								<item>DE</item>
								<item>EN</item>
								<item>ES</item>
								<item>FR</item>
								<item>HU</item>
								<item>IT</item>
								<item>NL</item>
								<item>PL</item>
								<item>PT</item>
								<item>SE</item>
								<item>SK</item>
							</content>
							<selection>3</selection>
							<pos>336,72</pos>
							<size>112,21</size>
							<tooltip>Langue de la synthése vocale</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>Langue voice</label>
							<pos>256,80</pos>
							<size>64,13</size>
						</object>
						<object class="wxChoice" name="ID_CHOICE8" variable="ChoiceNAVIGATION" member="yes">
							<content>
								<item>NO</item>
								<item>POT1</item>
								<item>POT2</item>
								<item>POT3</item>
								<item>POTS</item>
								<item>STICKS</item>
								<item>ROTENC</item>
							</content>
							<selection>0</selection>
							<pos>336,248</pos>
							<size>80,21</size>
							<tooltip>Peut remplacer les boutons de navigation</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
							<label>Navigation</label>
							<pos>272,256</pos>
						</object>
						<object class="wxButton" name="ID_BUTTON3" variable="ButtonEXIT" member="yes">
							<label>EXIT</label>
							<pos>704,264</pos>
							<handler function="OnButtonEXITClick" entry="EVT_BUTTON" />
						</object>
						<object class="wxButton" name="ID_BUTTON2" variable="ButtonCOMPILE" member="yes">
							<label>COMPILE</label>
							<pos>704,208</pos>
							<handler function="OnButtonCOMPILEClick" entry="EVT_BUTTON" />
						</object>
						<object class="wxChoice" name="ID_CHOICE9" variable="ChoiceUNITS" member="yes">
							<content>
								<item>METRIC</item>
								<item>IMPERIAL</item>
							</content>
							<selection>0</selection>
							<pos>560,32</pos>
							<size>98,21</size>
							<tooltip>Unitées</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
							<label>UNITS</label>
							<pos>512,40</pos>
						</object>
						<object class="wxChoice" name="ID_CHOICE10" variable="ChoiceDEFAULT_MODE" member="yes">
							<content>
								<item>NO</item>
								<item>1</item>
								<item>2</item>
								<item>3</item>
								<item>4</item>
							</content>
							<selection>0</selection>
							<pos>560,72</pos>
							<size>98,21</size>
							<tooltip>Mode de la radio</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
							<label>MODE</label>
							<pos>512,80</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX18" variable="CheckBoxFLIGHT_MODES" member="yes">
							<label>Flight modes</label>
							<pos>560,200</pos>
							<tooltip>Option phases de vol</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX19" variable="CheckBoxCURVES" member="yes">
							<label>Curves</label>
							<pos>560,248</pos>
							<tooltip>Option courbes</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX20" variable="CheckBoxGVARS" member="yes">
							<label>Global vars</label>
							<pos>560,224</pos>
							<tooltip>Option variables globales</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX21" variable="CheckBoxSPLASH" member="yes">
							<label>Splash screen</label>
							<pos>336,216</pos>
							<tooltip>Ecran d&apos;accueuil</tooltip>
						</object>
						<object class="wxChoice" name="ID_CHOICE11" variable="ChoiceFONT" member="yes">
							<content>
								<item>STD</item>
								<item>STQ5</item>
							</content>
							<selection>0</selection>
							<pos>336,176</pos>
							<size>80,21</size>
							<tooltip>Police de caractére</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
							<label>Font</label>
							<pos>288,184</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX40" variable="CheckBoxBOLD" member="yes">
							<label>Bold</label>
							<pos>336,112</pos>
							<tooltip>Vrai police en gras</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX41" variable="CheckBoxBATTGRAPH" member="yes">
							<label>Batt graph</label>
							<pos>336,144</pos>
							<tooltip>Affichage graphique de l&apos;état de la batterie</tooltip>
						</object>
						<object class="wxChoice" name="ID_CHOICE13" variable="ChoiceFAI" member="yes">
							<content>
								<item>NO</item>
								<item>YES</item>
								<item>CHOICE</item>
							</content>
							<selection>0</selection>
							<pos>560,112</pos>
							<size>96,21</size>
							<tooltip>Pour les compétitions</tooltip>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
							<label>FAI</label>
							<pos>520,120</pos>
						</object>
						<object class="wxChoice" name="ID_CHOICE12" variable="ChoiceTHREE_POS" member="yes">
							<content>
								<item>NO</item>
								<item>POT1</item>
								<item>POT2</item>
								<item>POT3</item>
							</content>
							<selection>0</selection>
							<pos>112,288</pos>
							<size>96,21</size>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
							<label>3POS</label>
							<pos>64,296</pos>
						</object>
					</object>
					<label>Settings</label>
				</object>
				<object class="notebookpage">
					<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
						<size>800,356</size>
						<handler function="OnPanel3Paint" entry="EVT_PAINT" />
						<object class="wxStaticBox" name="ID_STATICBOX3" variable="StaticBox3" member="yes">
							<label>Many others</label>
							<pos>328,16</pos>
							<size>464,264</size>
						</object>
						<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
							<label>Telemetrie</label>
							<pos>184,16</pos>
							<size>136,264</size>
						</object>
						<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
							<label>Protocol</label>
							<pos>8,16</pos>
							<size>168,264</size>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX10" variable="CheckBoxPPM" member="yes">
							<label>PPM</label>
							<checked>1</checked>
							<pos>72,56</pos>
							<tooltip>Protocole PPM 8 à 16 voies</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX11" variable="CheckBoxPXX" member="yes">
							<label>PXX</label>
							<pos>72,88</pos>
							<tooltip>Protocole PXX </tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX13" variable="CheckBoxDSM2SERIAL" member="yes">
							<label>DSM2 SERIAL</label>
							<pos>72,120</pos>
							<tooltip>Protocoles DSM ..</tooltip>
							<handler function="OnCheckBoxDSM2Click1" entry="EVT_CHECKBOX" />
						</object>
						<object class="wxChoice" name="ID_CHOICE2" variable="ChoiceEXT" member="yes">
							<content>
								<item>STD</item>
								<item>FRSKY</item>
								<item>FRSKY_SPORT</item>
								<item>JETI</item>
								<item>NMEA</item>
								<item>ARDUPILOT</item>
								<item>MAVLINK</item>
								<item>TELEMETREZ</item>
							</content>
							<selection>0</selection>
							<pos>208,40</pos>
							<size>96,21</size>
							<tooltip>Télémétrie installée</tooltip>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBoxFRSKY_HUB" member="yes">
							<label>FrSky Hub</label>
							<pos>208,88</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBoxFAS_OFFSET" member="yes">
							<label>FAS Offset</label>
							<pos>208,120</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX4" variable="CheckBoxGAUGES" member="yes">
							<label>Gauges</label>
							<pos>208,152</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX5" variable="CheckBoxGPS" member="yes">
							<label>GPS</label>
							<pos>208,184</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX6" variable="CheckBoxVARIO" member="yes">
							<label>Vario</label>
							<pos>208,216</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX8" variable="CheckBoxSPORT_FILE_LOG" member="yes">
							<label>Sport file log</label>
							<pos>208,248</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX22" variable="CheckBoxOFFSET_ON_INPUT" member="yes">
							<label>Offset on input</label>
							<pos>656,176</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX23" variable="CheckBoxPCBREV" member="yes">
							<label>PCB Revision</label>
							<pos>656,48</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX24" variable="CheckBoxTURNIGY_TRANSMITTER_FIX" member="yes">
							<label>TURNIGY Fix</label>
							<pos>656,80</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX25" variable="CheckBoxFRSKY_STICKS" member="yes">
							<label>FRSKY__Sticks</label>
							<pos>656,112</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX26" variable="CheckBoxCORRECT_NEGATIVE_VALUES" member="yes">
							<label>CORRECT__NEGATIVE__VALUES</label>
							<pos>456,144</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX27" variable="CheckBoxARITHMETIC_OVERFLOW_CHECK" member="yes">
							<label>ARITHMETIC__OVERFLOW__CHECK</label>
							<pos>456,176</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX29" variable="CheckBoxSP22" member="yes">
							<label>SP22</label>
							<pos>336,208</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX30" variable="CheckBoxPWM_BACKLIGHT" member="yes">
							<label>PWM__BACKLIGHT</label>
							<pos>456,48</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX31" variable="CheckBoxOVERRIDE_CHANNEL_FUNCTION" member="yes">
							<label>Overide channel function</label>
							<pos>456,80</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX32" variable="CheckBoxWS_HOW_HIGH" member="yes">
							<label>WS__HOW__HIGH</label>
							<pos>456,112</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX33" variable="CheckBoxHUBSAN" member="yes">
							<label>Hubsan</label>
							<pos>656,208</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX34" variable="CheckBoxTX_CADDY" member="yes">
							<label>TX__CADDY</label>
							<pos>656,144</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX35" variable="CheckBoxIRPROTOS" member="yes">
							<label>IR protos</label>
							<pos>656,240</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX36" variable="CheckBoxTOGGLETRIM" member="yes">
							<label>Toggle trims</label>
							<pos>336,176</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX37" variable="CheckBoxNOANDSECONDE" member="yes">
							<label>NOANDSECONDE</label>
							<pos>336,240</pos>
							<size>102,16</size>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX38" variable="CheckBoxSHUTDOWN_CONFIRMATION" member="yes">
							<label>SHUTDOWN__CONFIRMATION</label>
							<pos>456,240</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX39" variable="CheckBoxACCURAT_THROTTLE_STATS" member="yes">
							<label>ACCURAT__THROTTLE__STATS</label>
							<pos>456,208</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX43" variable="CheckBoxEEPROM_PROGRESS_BAR" member="yes">
							<label>EEPROM bar</label>
							<pos>336,112</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX44" variable="CheckBoxAUTOSWITCH" member="yes">
							<label>AUTOSWITCH</label>
							<pos>336,80</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX45" variable="CheckBoxAUTOSOURCE" member="yes">
							<label>AUTOSOURCE</label>
							<pos>336,48</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX47" variable="CheckBoxDBLKEYS" member="yes">
							<label>Double keys</label>
							<pos>336,144</pos>
						</object>
						<object class="wxCheckBox" name="ID_CHECKBOX28" variable="CheckBoxDSM2PPM" member="yes">
							<label>DSM2 PPM</label>
							<pos>72,152</pos>
							<handler function="OnCheckBoxDSM2PPMClick" entry="EVT_CHECKBOX" />
						</object>
					</object>
					<label>Advanced</label>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
