<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="CompilerOptionsFrame">
		<title>Compil-O-matic</title>
		<size>807,323</size>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>807,304</size>
			<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBoxPROTOCOL" member="yes">
				<label>Protocol</label>
				<pos>552,16</pos>
				<size>192,120</size>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>Télémetrie</label>
				<pos>280,16</pos>
				<size>192,248</size>
			</object>
			<object class="wxChoice" name="ID_CHOICE1" variable="ChoiceLCD" member="yes">
				<content>
					<item>DEFAULT </item>
					<item>ST7565P</item>
					<item>ST7565R </item>
					<item>ERC12864FSF</item>
					<item>ST7920 </item>
					<item>KS108</item>
					<item>SSD1306</item>
				</content>
				<pos>120,72</pos>
				<size>96,21</size>
			</object>
			<object class="wxChoice" name="ID_CHOICE3" variable="ChoiceVOICE" member="yes">
				<content>
					<item>NO</item>
					<item>WTV20SD</item>
					<item>JQ6500</item>
				</content>
				<pos>120,112</pos>
				<size>96,21</size>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX9" variable="CheckBoxRTCLOCK" member="yes">
				<label>RTC Clock</label>
				<pos>120,184</pos>
				<size>80,21</size>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBoxHELI" member="yes">
				<label>HELI</label>
				<pos>120,248</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX7" variable="CheckBoxAUDIO" member="yes">
				<label>AUDIO</label>
				<pos>120,152</pos>
				<size>48,16</size>
			</object>
			<object class="wxChoice" name="ID_CHOICE2" variable="ChoiceEXT" member="yes">
				<content>
					<item>STD</item>
					<item>FRSKY</item>
					<item>FRSKY_SPORT</item>
					<item>JETI</item>
					<item>NMEA</item>
					<item>ARDUPILOT</item>
					<item>MAVLINK</item>
					<item>TELEMETREZ</item>
				</content>
				<pos>352,32</pos>
				<size>96,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>LCD</label>
				<pos>80,72</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>VOICE</label>
				<pos>64,120</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBoxFRSKY_HUB" member="yes">
				<label>FrSky Hub</label>
				<pos>352,72</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBoxFAS_OFFSET" member="yes">
				<label>FAS Offset</label>
				<pos>352,104</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX4" variable="CheckBoxGAUGES" member="yes">
				<label>Gauges</label>
				<pos>352,136</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX5" variable="CheckBoxGPS" member="yes">
				<label>GPS</label>
				<pos>352,168</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX6" variable="CheckBoxVARIO" member="yes">
				<label>Vario</label>
				<pos>352,200</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX8" variable="CheckBoxSPORT_FILE_LOG" member="yes">
				<label>Sport file log</label>
				<pos>352,232</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="ButtonADVANCED" member="yes">
				<label>Advanced</label>
				<pos>568,272</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="ButtonCOMPILE" member="yes">
				<label>COMPILE</label>
				<pos>664,272</pos>
				<handler function="OnButtonCOMPILEClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>PPM Units</label>
				<pos>560,112</pos>
			</object>
			<object class="wxChoice" name="ID_CHOICE4" variable="ChoicePPM_UNIT " member="yes">
				<content>
					<item>PERCENT_PREC1</item>
					<item>PERCENT_PREC0</item>
					<item>US</item>
				</content>
				<pos>624,104</pos>
				<size>112,21</size>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX12" variable="CheckBoxSD_CARD" member="yes">
				<label>SD CARD</label>
				<pos>120,216</pos>
			</object>
			<object class="wxChoice" name="ID_CHOICE6" variable="ChoicePCB" member="yes">
				<content>
					<item>MEGA2560</item>
					<item>9X</item>
					<item>9X128</item>
					<item>9X2561</item>
					<item>9XR</item>
					<item>9XR128</item>
					<item>9XR2561</item>
					<item>GRUVIN9X</item>
				</content>
				<pos>120,32</pos>
				<size>96,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>PROCESSOR</label>
				<pos>40,40</pos>
				<size>64,13</size>
			</object>
			<object class="wxChoice" name="ID_CHOICE7" variable="ChoiceTRANSLATIONS" member="yes">
				<content>
					<item>CZ</item>
					<item>DE</item>
					<item>EN</item>
					<item>ES</item>
					<item>FR</item>
					<item>HU</item>
					<item>IT</item>
					<item>NL</item>
					<item>PL</item>
					<item>PT</item>
					<item>SE</item>
					<item>SK</item>
				</content>
				<pos>624,152</pos>
				<size>112,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
				<label>LANGUAGE</label>
				<pos>552,160</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="ButtonEXIT" member="yes">
				<label>EXIT</label>
				<pos>472,272</pos>
				<handler function="OnButtonEXITClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX10" variable="CheckBoxPPM" member="yes">
				<label>PPM</label>
				<checked>1</checked>
				<pos>624,32</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX11" variable="CheckBoxPXX" member="yes">
				<label>PXX</label>
				<pos>624,56</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX13" variable="CheckBoxDSM2" member="yes">
				<label>DSM2</label>
				<pos>624,80</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX14" variable="CheckBoxHAPTIC" member="yes">
				<label>HAPTIC</label>
				<pos>176,152</pos>
			</object>
			<object class="wxChoice" name="ID_CHOICE5" variable="ChoiceTTS" member="yes">
				<content>
					<item>CZ</item>
					<item>DE</item>
					<item>EN</item>
					<item>ES</item>
					<item>FR</item>
					<item>HU</item>
					<item>IT</item>
					<item>NL</item>
					<item>PL</item>
					<item>PT</item>
					<item>SE</item>
					<item>SK</item>
				</content>
				<pos>624,184</pos>
				<size>112,21</size>
				<handler function="OnChoiceTTSSelect" entry="EVT_CHOICE" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>TTS</label>
				<pos>584,192</pos>
				<size>24,13</size>
			</object>
			<object class="wxChoice" name="ID_CHOICE8" variable="ChoiceNAVIGATION" member="yes">
				<content>
					<item>NO</item>
					<item>POT1</item>
					<item>POT2</item>
					<item>POT3</item>
					<item>POTS</item>
					<item>STICKS</item>
					<item>ROTENC</item>
				</content>
				<pos>624,224</pos>
				<size>114,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
				<label>NAVIGATION</label>
				<pos>544,232</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX15" variable="CheckBoxTEMPLATES" member="yes">
				<label>TEMPLATES</label>
				<pos>120,280</pos>
			</object>
		</object>
	</object>
</wxsmith>
