<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="NextStepRc_DesktopFrame">
		<title>NextStepRc Desktop</title>
		<size>589,282</size>
		<parent_arg>0</parent_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>240,40</pos>
			<size>576,280</size>
			<focused>1</focused>
			<style>0</style>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>SIMULATEUR</label>
				<pos>8,208</pos>
				<size>568,31</size>
				<handler function="OnSimulateurClick2" entry="EVT_BUTTON" />
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar_main" member="yes">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>Action</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quitter</label>
					<accel>Alt-F4</accel>
					<help>Quitter l&apos;application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Paramètres</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem3" member="yes">
					<label>Programmeur</label>
					<handler function="OnProgrammerSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Lire/Écrire</label>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="Menu5" member="yes">
					<label>Lire modèles de la radio</label>
					<handler function="OnreadmodelsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem6" member="yes">
					<label>Lire le firmware de la radio</label>
					<handler function="OnreadfirmwareSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem5" member="yes">
					<label>Écrire les modêles dans la radio</label>
					<handler function="OnWriteModelToRadioSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem7" member="yes">
					<label>Écrire le firmware dans la radio</label>
					<handler function="OnWriteFirmwareToRadioSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenu" name="ID_MENUITEM7" variable="MenuItem8" member="yes">
					<label>Bootloader</label>
					<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem10" member="yes">
						<label>Écrire les fusibles</label>
						<handler function="OnEcrirelesFuseesSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem11" member="yes">
						<label>Écrire le bootloader</label>
						<handler function="OnEcrirelebootloaderSelected" entry="EVT_MENU" />
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu7" member="yes">
				<label>Compilateur</label>
				<object class="wxMenuItem" name="ID_MENUCOMPILOMATIC" variable="ATMEGA2560Compiler" member="yes">
					<label>Compil-O-matic</label>
					<handler function="OnATMEGA2560CompilerSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu6" member="yes">
				<label>Documentation en ligne</label>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Aide</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>A propos</label>
					<accel>F1</accel>
					<help>NestStepRc__Desktop V 0.00001 !</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar_main" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
