<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="NextStepRc_SimulatorFrame">
		<title>Simulateur</title>
		<centered>1</centered>
		<icon>avatarnext.xpm</icon>
		<pos>-1,-1</pos>
		<size>800,420</size>
		<maxsize>-1,-1</maxsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxSUNKEN_BORDER|wxRAISED_BORDER</style>
		<object class="wxPanel" name="ID_PANEL1" variable="PanelPrincipal" member="yes">
			<pos>424,216</pos>
			<size>800,400</size>
			<object class="wxPanel" name="ID_PANEL2" variable="Panel1" member="yes">
				<pos>8,8</pos>
				<size>784,64</size>
				<bg>#97EAC2</bg>
				<style>wxDOUBLE_BORDER|wxTAB_TRAVERSAL</style>
			</object>
			<object class="wxPanel" name="ID_PANEL3" variable="Panel2" member="yes">
				<pos>8,72</pos>
				<size>784,248</size>
				<bg>#83D8F3</bg>
				<style>wxSUNKEN_BORDER</style>
				<handler function="OnPanel2MouseMove" entry="EVT_MOTION" />
				<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
					<bitmap>splash.xpm</bitmap>
					<pos>272,8</pos>
					<size>256,128</size>
					<style>wxDOUBLE_BORDER</style>
				</object>
				<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
					<label>test</label>
					<pos>104,112</pos>
					<handler function="OnButton1Click" entry="EVT_BUTTON" />
				</object>
			</object>
			<object class="wxPanel" name="ID_PANEL4" variable="Panel3" member="yes">
				<pos>8,312</pos>
				<size>784,64</size>
				<bg>#32A7ED</bg>
				<style>wxRAISED_BORDER|wxTAB_TRAVERSAL</style>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;Fichier</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quitter</label>
					<accel>Alt-F4</accel>
					<help>Quitter le simulateur</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>&amp;Aide</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>A propos ...</label>
					<accel>F1</accel>
					<help>C&apos;est quoi donc ?</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
